.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  background-color: #000;
  color: #fff;

  h1 {
    color: #fff;
    font-size: 3em;
    line-height: 1;
    margin: 0;
  }

  nav {
    ul {
      list-style: none;
      display: flex;
      margin: 0;

      li {
        display: flex;
        align-items: center;
        text-align: center;
        width: 120px;
        height: 60px;
      }
    }

    a {
      color: #fff;
    }
  }
}
